:root {
    --green: #ccd5ae;
    --white: #fff;
    --letters: #495057;
    --sh: #d4a373;
    --pl: #212529;
    --hidden: #fefae0;
    --black: #2B2B2B;
}


body {
    font-family: 'Agdasima', sans-serif;
    letter-spacing: 2px;
    color: var(--letters);
}

/*---base class css---*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.w-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.half-flex {
    display: flex;
    align-items: center;
}

.cover {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

.fn {
    background-color: var(--green);
    font-size: 16px;
    font-weight: 400;
    color: var(--letters);
}

a {
    font-size: 18px;
    color: var(--letters);
}

::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--pl);
}

.up {
    text-transform: uppercase;
}

span {
    color: var(--sh);
}

.fa-cart-shopping,
.fa-user {
    font-size: 28px;
    color: var(--green);
}

/*---header---*/

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .on-top,
.header .middle,
.header .navigation {
    width: 100%;
    justify-content: space-between;
    padding: 10px 240px;
}

.logo {
    font-size: 50px;
    color: var(--letters);
}

.nav-list li:not(:last-child) {
    margin-right: auto;
}

.search {
    width: 500px;
    border: 1px solid var(--letters);
    border-radius: 4px;
}

.search input[type=text] {
    width: 470px;
    padding: 4px 8px;
    color: var(--letters);
    border: none;
    outline: none;
    background-color: var(--white);
}

.btn-form {
    color: var(--green);
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.crs {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.crs:hover,
.home:hover {
    color: var(--sh);
}

.li-nav-cat {
    position: relative;
}

/*---hidden elements---*/

.categories {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 6px;
    width: 125px;
    border-radius: 4px;
    background-color: var(--hidden);
    box-shadow: 0 0 4px var(--letters);
    z-index: 2;
    transition: all 0.3s ease-in;
}

.li-nav-cat:hover .categories {
    visibility: visible;
    opacity: 1;
}

.categories .ul-categories {
    position: relative;
    width: 100%;
    padding: 14px;
    margin: 0;
    list-style-type: disclosure-closed;
    list-style-position: inside;
}

.categories .ul-categories::before {
    content: '';
    position: absolute;
    top: -13px;
    right: 15px;
    width: 25px;
    height: 25px;
    rotate: 45deg;
    border: none;
    border-radius: 4px;
    background-color: var(--hidden);
    box-shadow: 0 0 4px var(--letters);
    z-index: 2;
}

.categories .ul-categories::after {
    content: '';
    position: absolute;
    top: -1px;
    right: 6px;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--hidden);
    z-index: 2;
}

.li-categories {
    text-transform: uppercase;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.li-categories:hover {
    list-style-type: disclosure-open;
}

/*---main section---*/

.main {
    position: relative;
    padding: 0 240px;
}

.aside {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 240px;
    padding: 12px 12px 12px 30px;
    border-radius: 4px;
    background-color: var(--hidden);
    box-shadow: 0 0 4px var(--letters);
    z-index: 2;
}

.aside-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    list-style-type: circle;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}


.a-aside {
    font-size: 14px;
    font-weight: 700;
}

.li-aside:hover {
    list-style-type: disc;
}

.main-section {
    width: 100%;
    position: relative;
}

.main-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.2;
    z-index: 1;
}

.ms-text {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 30px;
    text-transform: capitalize;
    cursor: pointer;
    z-index: 2;
}

.ms-text span {
    font-weight: 700;
    color: var(--white);
}

.ms-img-container {
    width: 100%;
    height: 680px;
    border-radius: 4px;
}

.ms-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/*---footer---*/

.footer {
    width: 100%;
    padding: 20px 240px;
    background-color: var(--letters);
    color: var(--white);
}

.footer .f-info {
    display: flex;
    gap: 40px;
}

.f-left {
    width: 40%;
    margin-right: auto;
}

.f-left p {
    font-size: 16px;
    text-transform: capitalize;
    text-align: justify;
    margin: 12px 0 20px 0;
}

.f-middle {
    margin-right: auto;
}

.f-middle ul,
.f-right ul {
    padding: 12px 0;
    margin: 0;
    list-style-type: disclosure-closed;
    list-style-position: inside;
    transition: all 0.3s ease-in;
}

.f-middle ul li:hover,
.f-right ul li:hover {
    cursor: pointer;
    list-style-type: disclosure-open;
}

.footer span {
    font-size: 18px;
    text-transform: uppercase;
}

.f-social a {
    color: var(--white);
}

.f-social a:hover {
    color: var(--sh);
}

.f-pay-methods {
    margin-top: 18px;
    text-align: center;
}

.f-pay-methods span.sp-pay {
    font-size: 12px;
}

.f-pay-order {
    height: 26px;
    margin-top: 14px;
    gap: 12px;
}

.f-pay-order img {
    height: 100%;
}

.f-paragraph {
    display: inline-block;
    padding: 4px 12px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0 0 4px var(--sh);
}

/*---second section---*/

.second-section {
    margin: 60px 0;
    text-align: center;
}

.second-section h3 {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.second-section h3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -80%;
    width: 80px;
    height: 2px;
    background-color: var(--green);
}

.second-section h3::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -80%;
    width: 80px;
    height: 2px;
    background-color: var(--green);
}

.ss-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    gap: 60px;
}

.ss-f-par {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 25%;
    font-weight: 700;
    color: var(--white);
    background-color: var(--letters);
    padding: 4px 12px;
    width: 140px;
    border-radius: 4px;
}